<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/patientAppointment.css" />

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <title>Admin Medical Care</title>
  </head>

  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <a href="/landingPage" class="logo">
        <img src="/images/NewlogoV05.png" width="200" />
      </a>
      <ul class="side-menu">
        <li>
          <a href="#"><i class="bx bxs-dashboard"></i>Dashboard</a>
        </li>
        <li>
          <a href="/patientSchedule"
            ><iconify-icon
              icon="healthicons:doctor"
              width="25"
              height="25"
              style="margin: 6px"
            ></iconify-icon
            >Schedule</a
          >
        </li>
        <li>
          <a href="#"
            ><iconify-icon
              icon="teenyicons:appointments-solid"
              width="23"
              height="23"
              style="margin: 8px"
            ></iconify-icon
            >Appointment</a
          >
        </li>
        <li>
          <a href="#"><i class="bx bx-cog"></i>Settings</a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="/logout" class="logout">
            <i class="bx bx-log-out-circle"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
      <!-- Navbar -->
      <nav>
        <i class="bx bx-menu"></i>
        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Search..." />
            <button class="search-btn" type="submit">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="theme-toggle" hidden />
        <label for="theme-toggle" class="theme-toggle"></label>
        <a href="#" class="notif">
          <i class="bx bx-bell"></i>
          <span class="count">12</span>
        </a>
        <a href="#" class="profile">
          <img src="images/ava.jpg" />
        </a>
      </nav>

      <!-- End of Navbar -->

      <main>
        <div class="header">
          <div class="left">
            <h1>Choose Appointment with Doctors</h1>
            <div class="input-box">
              <span class="breadcrumb">Service</span>
              <select class="Select" name="Service_ID" id="serviceSelect" required>
                <% if(service === undefined) { %>
                  <option disabled selected>Please select service</option>
                <% } %>
                <% services.forEach(function(item) { %> 
                  <% if(item.Service_ID == service) { %>
                    <option value="<%= item.Service_ID %>" selected>
                      <%= item.Name %>
                    </option>
                  <% } else { %>
                    <option value="<%= item.Service_ID %>"><%= item.Name %></option>
                  <% } %> 
                <% }); %>
              </select>
            </div>
            <ul class="breadcrumb">
              <li><a href="#"> Doctors </a></li>
            </ul>
          </div>
        </div>

        <!-- Youtube -->
        <div class="video">
          <% doctors.forEach(function(item) { %>
          <a href="/makeAppointment?service=<%= service %>&doctor=<%= item.Staff_ID %>">
            <div class="video-div">
              <div class="videoandtime">
                <div class="video-video">
                  <img class="thumnails" src="/images/ava.jpg" />
                </div>
              </div>
              <div class="video-description">
                <div class="video-thumnails">
                  <img class="logo-channel" src="/images/red.webp" />
                </div>
                <div class="video-info">
                  <p class="video-title"><%= item.Name %></p>
                  <p class="video-channel">Emergency</p>
                  <p class="video-sub">Professor</p>
                </div>
              </div>
            </div>
          </a>
          <% }); %>
        </div>
        <!-- End Youtube -->
      </main>
    </div>

    <script>
      // Event listener for service selection
      const serviceSelect = document.getElementById("serviceSelect");
      serviceSelect.addEventListener("change", function () {
        const selectedService = serviceSelect.value;
        // fetchDoctors(selectedService);
        console.log(selectedService);
        window.location = `/patientAppointment?service=${selectedService}`;
      });
    </script>

    <script src="js/adminScript.js"></script>
  </body>
</html>